#pragma once

#include "../../CoordsUtils.h"

#include <array>

namespace coords {

enum class Star : unsigned int {
{{STARS_ENUM_KEYS}}
};

// TODO print all available stars on startup
using StarObject = CelestialObject<Star>;
constexpr const std::array<StarObject, static_cast<unsigned int>(Star::last) + 1> STARS = {{
{{STARS_ARRAY}}
}};

}